LIBRARY_LOGIN_URL=https://infocenters.co.il/herzliya/getreader_dialog.asp?lang=HEB&module=security&page=login&rsvr=all&param=%3Cdlang%3EHEB%3C/%3E%3Cquery_operation%3Eload%3C/%3E%3Cquery_id%3E294%3C/%3E&site=herzliya
LIBRARY_COUPON_URL=https://infocenters.co.il/herzliya/reader.asp?lang=HEB&dlang=HEB&module=reader&page=getreader&rsvr=all&param=%3Clogged%3Ey%3C/%3E%3Cuppernav%3Esimple%3C/%3E%3Cnob%3E-1%3C/%3E%3Crsvr_ser%3E@@all%3C/%3E%3Cnum_page%3Edbook%3C/%3E%3Cdbook_vendor%3Eevrit%3C/%3E&param2=&site=herzliya
LIBRARY_ID_NUMBER=your_id_number_here
LIBRARY_PASSWORD=your_password_here
NTFY_TOPIC_URL=https://ntfy.sh/lib-query-ranimela
